          <h5>Follow me.</h5>
          <div class="views-element-container widget" style="color: white;">
            <div class="tags clearfix">
              <a href="https://twitter.com/getHarsh_in" style="color: white;">
                <i class="fa fa-twitter fa-2x"></i>
              </a>
              <a href="https://www.linkedin.com/in/getharsh/" style="color: white;">
                <i class="fa fa-linkedin fa-2x"></i>
              </a>
              <a href="https://www.instagram.com/me.harsh.joshi/" style="color: white;">
                <i class="fa fa-instagram fa-2x"></i>
              </a>
              <a href="https://github.com/getHarsh" style="color: white;">
                <i class="fa fa-github fa-2x"></i>
              </a>
              <a href="https://github.com/getHarsh" style="color: white;">
                <i class="fa fa-youtube-play fa-2x"></i>
              </a>
            </div>
          </div>
